
<main class="main">
  <div class="content">
    <h1>Quick App for Azure</h1>
    <p>Simple web appliction to get started using azure services.</p>
    <mat-form-field>
      <mat-label>Select a Date</mat-label>
      <input matInput [matDatepicker]="picker" #date>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (error()) {
        <mat-hint style="color: red">Invalid selection</mat-hint>
      }
    </mat-form-field>
    <div class="action-row">
      <button mat-flat-button color="primary" (click)="onClick(date)">Send</button>
    </div>
  </div>

  <div class="content">
    <h2>Signals</h2>
    <p>The selected date is {{ selectedDate() }}</p>
    <p>The date has been submitted {{ count() }} times</p>
    <p>The date has been updated {{ distinctCount$ | async }} times</p>
  </div>
</main>



<router-outlet></router-outlet>
